:root {
    --just-black: #1C1C1C;
    --just-white: #FAFAFA;
    --great-orange: #F77E21;
    --shiny-orange: #FB9300;
    --strong-red: #A11C1F;
    --fresh-red: #C70039;
    --berry-red: #900C3F;
    --epic-black: #111111;
}